.openoffice/
OpenBoardView/
autostart/
baloofileinformationrc
configstore/
dolphinrc
BraveSoftware/
GIMP/
dconf/
inkscape/
libreoffice/
gnupg/
QtProject.conf
gqrx/
karboncalligraphyrc
kritadisplayrc
kritarc
lf/lfrc_
nvim/plugged/
pavucontrol.ini
pulse/
vifm/
emacs/
gatsby/
mu4e/
nautilus/
omf/
kwalletrc
msmtp/
mpd/
session/
syncthing/
tessdata
trashrc
zoomus.conf
kdeconnect/
doom/config_.el
qutebrowser/autoconfig.yml
gtk-3.0/


/kde.org/
