.openoffice/
OpenBoardView/
autostart/
baloofileinformationrc
configstore/
dolphinrc
BraveSoftware/
GIMP/
dconf/
inkscape/
libreoffice/
gnupg/
QtProject.conf
gqrx/
karboncalligraphyrc
kritadisplayrc
kritarc
lf/lfrc_
nvim/plugged/
pavucontrol.ini
pulse/
vifm/
emacs/
gatsby/
mu4e/
nautilus/
omf/
kwalletrc
msmtp/
session/
syncthing/
tessdata
trashrc
zoomus.conf
kdeconnect/
doom/config_.el
qutebrowser/autoconfig.yml
gtk-3.0/
Altair GraphQL Client/
Code - OSS/
Electron/
JetBrains/
Insomnia/
Microsoft/
NuGet/
Postman/
Unknown Organization/
composer/
figma-linux/
filezilla/
kicad/
teams-for-linux/
vscode-sqltools/
vue/
xfce4/
yarn/
kdenliverc
/kde.org/
